<h1>Nerd News</h1>
<h3>News When You Have Time To Not Have Time</h3>

<ul ng-repeat="item in links | orderBy:'votes':true">
  <li>
    <!-- <img src="css/img/bigvote.jpg" ng-click="LinksFactory.upVote(item.id)">
    <a href="{{item.address}}" target="_blank">{{item.description}}</a>
    <p>{{item.votes}}</p> -->



    <div class="row">
      <div class="col-sm-1 col-md-1 col-xs-1">
        <img src="css/img/bigvote.jpg" ng-click="LinksFactory.upVote(item.id)">
        <p>{{item.votes}}</p>
      </div>
      <div class="col-md-11 col-sm-11 col-xs-11 link-box">
        <div ng-controller="AccordionCtrl">
          <accordion close-others="oneAtATime">
              <accordion-group heading="{{item.description}}">
              <a href="{{item.address}}" target="_blank">Go To This Page {{item.time}}</a>
                <form role="form" ng-submit="LinksFactory.addComment(item.id)">
                  <textarea placeholder="Comments" ng-model ="LinksFactory.linkComments" rows="8" cols="40"></textarea>
                  <button class="btn btn-default btn-sm" type="submit">Add Comment</button>
                </form>
                <div ng-repeat="additionalComment in item.comments">
                  <div class="well">
                    {{additionalComment}}
                  </div>
                </div>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </li>
</ul>
